*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.container{
    margin: 0.5rem;
    text-align: left;
}

.nav {
    background-color: #ffffff;
    color: rgb(8, 0, 0);
    margin: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 2 rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
   color: inherit;
   text-decoration: none;
   font-family: Georgia, 'Times New Roman', Times, serif;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0.25rem;
}

.nav li.active{
    background-color: #F4CE14;
    padding: 0.5rem;
    border-radius: 16px;
    text-decoration:underline;
}

.nav li:hover{
    background-color: #495e578c;
    border-radius: 16px;
    padding: 0.3rem
}

.container-form{
    background-color: rgba(248, 248, 248, 0);
    margin: auto;
    box-sizing: content-box;
    width: 60%;
    text-align: center;

}

.form{
    margin: 1rem;
    padding: 2rem;
}

