*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    margin: 1rem;
    text-align: center;
}
.nav {
    background-color: #1d4522;
    color: rgb(8, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;

}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
   color: inherit;
   text-decoration: none;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 0.25rem;
}

.nav li.active{
    background-color: aliceblue;
}

.nav li:hover{
    background-color: rgb(11, 91, 161);
}